# ahk files
*.ahk text eol=crlf
*.ahk2 text eol=crlf

# batch files
*.bat text eol=crlf

# config and data files
*.ini text eol=crlf
*.txt text eol=lf
*.log text eol=lf

# NectarPilot source and metadata
/.gitattributes text eol=lf
/.gitignore text eol=lf
/.editorconfig text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.js text eol=lf
*.lock text eol=lf
*.xml text eol=lf
.gitkeep text eol=lf
*.ps1 text eol=crlf
